.character {
    display: flex;
    justify-content: space-between;
    p {
        margin: 10px 0;
    }
    h3 {
        margin: 10px 0;
    }

}

.characters-list{
    padding: 15px;
    width: 400px;
}